<!-- Toolbar -->
<div class="toolbar" role="banner" style="overflow:hidden">
    <img
      width="40"
      alt="CHR Logo"
      src="assets/logo.jpeg"
    />
    <span class="d-none d-sm-block">Covid Healthcare Register</span>

    <div class="border-right d-none d-sm-block" style="margin-left: 10px; width: 5px; height: 30px;"></div>
    
    <a class="nav-item nav-link text-white" href="#" routerLink="/">Home</a>
    <a class="nav-item nav-link text-white" href="#" routerLink="/manage">Manage</a>
    <a class="nav-item nav-link text-white" href="#" routerLink="/covidstatus">Covid Stats</a>
    <div style="position: fixed; left: 90%; top: 20px;">
      <a *ngIf="!isLoggedIn" class="text-white" href="#" routerLink="/login">Login</a>
      <a *ngIf="isLoggedIn" class="text-white" href="#" routerLink="/" (click)=handleLogout()>Logout</a>
    </div>

</div>
