<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="CHR Logo"
      src="assets/logo.jpeg"
    />
    <span class="d-none d-sm-block">Covid Healthcare Register</span>

    <div class="border-right d-none d-sm-block" style="margin-left: 10px; width: 5px; height: 30px;"></div>
    
    <a class="nav-item nav-link text-white" href="#" routerLink="/">Home</a>
    <a class="nav-item nav-link text-white" href="#" routerLink="/manage">Manage</a>
    <a class="nav-item nav-link text-white" href="#" routerLink="/covidstatus">Covid Stats</a>
    <a class="nav-item nav-link text-white" href="#" routerLink="/register">Register</a>
    
  </div>
  