<div class="content" role="main" *ngIf="!isLoggedIn">
    <div class="alert alert-warning">You are not authorised to view this page</div>
</div>
<div class="content" role="main" *ngIf="isLoggedIn">
    <h3>Add/Update Record</h3>
    <br>
    <div class="alert alert-success" *ngIf="isSaved">Record saved successfully</div>
    <div class="alert alert-error" *ngIf="isError">Error saving record</div>

    <form (submit)="addUpdate()">
        <div class="form-group">
            <label for="inputHospitalID">HospitalID</label>
            <input type="text" class="form-control" id="inputHospitalID" [(ngModel)]="hospitalRecord.hospitalRegistration.hospitalId" [ngModelOptions]="{standalone: true}" placeholder="Hospital ID" readonly>
        </div>  
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" [(ngModel)]="hospitalRecord.hospitalRegistration.name" [ngModelOptions]="{standalone: true}" (change)="updateId()" placeholder="Hospital Name">
        </div>  
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="hospitalRecord.hospitalRegistration.emailId" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPhone4">Phone</label>
                <input type="text" class="form-control" id="inputPhone4" [(ngModel)]="hospitalRecord.hospitalRegistration.phone" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="hospitalRecord.hospitalRegistration.addressDetails" [ngModelOptions]="{standalone: true}" placeholder="Address">
        </div>  
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" [(ngModel)]="hospitalRecord.hospitalRegistration.city" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputZipCode4">Zip Code</label>
                <input type="text" class="form-control" id="inputZipCode4" [(ngModel)]="hospitalRecord.hospitalRegistration.zipCode" [ngModelOptions]="{standalone: true}" (change)="updateId()">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            <label for="inputFloor4">Floor</label>
            <input type="text" class="form-control" id="inputFloor4" [(ngModel)]="hospitalRecord.floor" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
            <label for="inputPassword4">Section</label>
            <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="hospitalRecord.section" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Room</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="hospitalRecord.room" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputItemType4">Item Type</label>
                <input type="text" class="form-control" id="inputItemType4" [(ngModel)]="hospitalRecord.itemType" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputItemCount4">Item Count</label>
                <input type="text" class="form-control" id="inputItemCount4" [(ngModel)]="hospitalRecord.itemCount" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputItemCount4">Available Count</label>
                <input type="text" class="form-control" id="inputItemCount4" [(ngModel)]="hospitalRecord.availableCount" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputItemName4">Item Name</label>
                <input type="text" class="form-control" id="inputItemName4" [(ngModel)]="hospitalRecord.itemName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputItemID4">ItemID</label>
                <input type="text" class="form-control" id="inputItemID4" [(ngModel)]="hospitalRecord.itemId" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAvailableFrom">Available From</label>
                <input type="date" class="form-control" id="inputAvailableFrom" [(ngModel)]="hospitalRecord.availableFrom" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAvailableTill">Available Till</label>
                <input type="date" class="form-control" id="inputAvailableTill" [(ngModel)]="hospitalRecord.availableTill" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNotes2">Note</label>
            <input type="text" class="form-control" id="inputNotes2" [(ngModel)]="hospitalRecord.note" placeholder="Any Notes" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="hospitalRecord.notifyWhenUserSubscribe" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="gridCheck">
                Notify On Subscribe
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Add/Update</button>
    </form>
    <div class="alert alert-success" *ngIf="isSaved">Record saved successfully</div>
    <div class="alert alert-error" *ngIf="isError">Error saving record</div>
</div>