<div class="content" role="main">

  <!-- Resources -->
  <h3>Live status of available hospital resources</h3>
  <br>
  <div class="alert alert-success" *ngIf="isSubscribed">You have subscribed for availability notifications.</div>
  <div class="alert alert-error" *ngIf="isErrorSubscribing">Error subscribing.</div>
  
  <div class="d-none d-sm-block content" style="overflow: auto; width: 100%; margin-top: 10px;">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Type</th>
          <th scope="col">Item Count</th>
          <th scope="col">Item Name</th>
          <th scope="col">Available</th>
          <th scope="col">Hospital ID</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Item ID</th>
          <th scope="col">Note</th>
          <th scope="col">Available From</th>
          <th scope="col">Available Till</th>
          <th scope="col">Subscribe</th>
          <th scope="col">Directions</th>
          <th scope="col" *ngIf="isLoggedIn">Edit</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hospitalRecord of hospitalRecords | async">
        <th scope="row">{{ hospitalRecord.id }}</th>
        <td>
          <span>{{hospitalRecord.itemType}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.itemCount}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.itemName}}</span>
        </td>
        <td *ngIf="hospitalRecord.availableCount > 0" class="bg-success">
          <span>YES</span>
        </td>
        <td *ngIf="hospitalRecord.availableCount == 0" class="bg-danger">
          <span>NO</span>
        </td>
        <td>
          <span>{{hospitalRecord.hospitalRegistration.hospitalId}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.hospitalRegistration.name}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.hospitalRegistration.phone}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.hospitalRegistration.emailId}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.hospitalRegistration.addressDetails}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.itemId}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.note}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.availableFrom}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.availableTill}}</span>
        </td>
        <td>
          <input type="checkbox" (change)="subscribeAddRemove($event, hospitalRecord)">
        </td>
        <td>
          <a class="nav-item nav-link text-black" href="#" routerLink="/location" [queryParams]="{'latitude': hospitalRecord.hospitalRegistration.latitude, 'longitude': hospitalRecord.hospitalRegistration.longitude}">Directions</a>
        </td>
        <td *ngIf="isLoggedIn">
          <a class="nav-item nav-link text-black" href="#" routerLink="/manage" [state]="{ data: hospitalRecord}">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>  

  </div>
  
  <div class="d-block d-sm-none content" style="overflow: auto; width: 100%; margin-top: 10px;">
   
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Type</th>
          <th scope="col">Item Count</th>
          <th scope="col">Item Name</th>
          <th scope="col">Available</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Subscribe</th>
          <th scope="col">Directions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hospitalRecord of hospitalRecords | async">
        <th scope="row">{{ hospitalRecord.id }}</th>
        <td>
          <span>{{hospitalRecord.itemType}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.itemCount}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.itemName}}</span>
        </td>
        <td *ngIf="hospitalRecord.isAvailable" class="bg-success">
          <span>YES</span>
        </td>
        <td *ngIf="!hospitalRecord.isAvailable" class="bg-danger">
          <span>NO</span>
        </td>
        <td>
          <span>{{hospitalRecord.name}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.phone}}</span>
        </td>
        <td>
          <span>{{hospitalRecord.email}}</span>
        </td>
        <td>
          <input type="checkbox" (change)="subscribeAddRemove($event, hospitalRecord)">
        </td>
        <td>
          <a class="nav-item nav-link text-black" href="#" routerLink="/location" [queryParams]="{'latitude': hospitalRecord.latitude, 'longitude': hospitalRecord.longitude}">Directions</a>
        </td>
      </tr>
      </tbody>
    </table>  
    
  </div>
  <form (submit)="subscribe()">
    <div class="form-group">
      <label>Subscribe to notications for selected items.</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <input type="text" class="form-control" id="inputAddress" [ngModelOptions]="{standalone: true}" [(ngModel)]="subscribersEmail" placeholder="Email ID">
      </div>
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSubscribed">You have subscribed for availability notifications.</div>
  <div class="alert alert-error" *ngIf="isErrorSubscribing">Error subscribing.</div>

  <br>
  <br>

</div>

